body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, label, p {
  color: #bc51ec; /* Accent color */
}

input, button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #bc51ec; /* Accent color */
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

button {
  background-color: #bc51ec; /* Accent color */
  cursor: pointer;
}

button:hover {
  background-color: #d892f6; /* Slightly lighter version of the accent color */
}

.eye-btn {
  cursor: pointer;
  color: #bc51ec; /* Accent color */
  margin-left: 5px;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #bc51ec; /* Accent color */
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
}

.order-status {
  font-weight: bold;
  color: #bc51ec; /* Accent color */
}
